<!DOCTYPE html>
<html>
  <head>
    <title>Prueba</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>

      <% games.forEach( (game) => { %>
        <h2><%= game.title %></h2>
      <% })%>

    </div>

    <div></div>
  </body>
</html>
